.entorno_Tabs{
margin: 0px;

}
.entorno_in{
margin: 10px;

}
.color_tabs{

    background-color:#F7AA2A;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.color_contenido{

    background-color: #FAC52D;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
   
}
.centro{

display: flex;
align-items: center;
  
}
.solid {
    border-top: 1px solid #bbb;
  }

.titulo{
    margin-top:10px;
}

.fondo {
border-radius: 8px;
height: 20rem;
width: 80%;

}
.ubic{

    margin-right:10px ;
}

